$alwan-background: --background;
$alwan-foreground: --foreground;
$alwan-outer-border-color: --outer-border-color;
$button-hover-background: --button-hover-background;
$alwan-border-color: --border-color;
$slider-thumb-background: --thumb-background;
$slider-thumb-hover-background: --thumb-hover-background;
$slider-thumb-hover-border-color: --thumb-hover-border-color;
$label-color: --label-color;
$input-background: --input-background;
$input-hover-background: --input-hover-background;
$input-hover-border-color: --input-hover-border-color;
$swatches-container-background: --swatches-background;

$transparency-pattern: --alwan-pattern;

