@mixin light {
    --bg: #fff;
    --fg: #333;
    --outer-bc: #ccc;
    --bc: #ccc;
    --btn-bg-hover: #f0f0f0;
    --thumb-bg: #fff;
    --thumb-bg-hover: #f0f0f0;
    --label-color: #555;
    --input-bg: #fafafa;
    --input-bg-hover: #f0f0f0;
    --input-bc-hover: #a8a8a8;
    --swatches-bg: #f5f5f5;
}

@mixin dark {
    --bg: #111;
    --fg: #ccc;
    --outer-bc: #aaa;
    --bc: #34373a;
    --btn-bg-hover: #444;
    --thumb-bg: #151515;
    --thumb-bg-hover: #242424;
    --label-color: #d8d8d8;
    --input-bg: #181818;
    --input-bg-hover: #272727;
    --input-bc-hover: #484b4d;
    --swatches-bg: #151515;
}
