@use "sass:math";

$transparency-pattern-svg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 20 20'><path fill='%23D0D0D0' d='M0 0h10v10H0Z'/><path fill='%23fff' d='M0 10h10v10H0Z'/><path fill='%23D0D0D0' d='M10 10h10v10H10Z'/><path fill='%23fff' d='M10 0h10v10H10Z'/></svg>");
$box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
$alwan-focus-color: #117ce0;

$alwan-max-width: 260px;
$alwan-popup-z-index: 999999;

// Container.
$container-padding-y: 10px;
$container-padding-x: 15px;

// Button.
$button-padding-y: 8px;
$button-padding-x: 4px;

// Preset button.
$preset-button-width: 26px;
$preset-button-height: $preset-button-width;
$preset-button-border-radius: 3px;
$preset-button-border: 3px solid #f5f5f5;
$preset-button-outline: 1px solid #333;

// Palette.
$palette-height: 136px;

// Marker.
$marker-width: 16px;
$marker-height: $marker-width;
$marker-border: 2px solid #fff;

// Preview.
$preview-area-border-width: 1px;
$preview-area-width: 40px + $preview-area-border-width * 2;
$preview-area-height: $preview-area-width;
$preview-area-margin-right: 15px;
$preview-border-radius: 5px;

// Slider.
$alpha-slider-margin-top: 14px;

// Track.
$slider-track-height: 15px;
$slider-track-border-radius: 8px;

// Thumb.
$slider-thumb-height: 20px;
$slider-thumb-width: 20px;
$slider-thumb-border-color: #999;
$slider-thumb-border-radius: 3px;

// Label.
$label-margin-right: 4px;
$label-font-size: 13px;
$label-font-family: system-ui;

// Input.
$input-padding-y: 8px;
$input-padding-x: 5px;
$input-font-size: 14px;
$input-margin-bottom: 3px;
$input-font-family: monospace;
$input-line-height: 1;
$input-border-radius: 2px;

// Swatches.
$swatches-container-padding: 10px 15px 0 15px;
$swatches-container-max-height: 100px;

$swatch-button-width: 22px;
$swatch-button-height: $swatch-button-width;
$swatch-button-margin: 0 5px 10px 5px;
$swatch-button-border-radius: 3px;

// Swatches toggle button.
$swatches-toggle-button-height: 10px;

