@use "sass:math";
@use "sass:color";
@use "variables" as *;
@use "theme";
@use "util";

:root {
    --alwan-pattern: #{$transparency-pattern-svg};
}

.alwan {
    @include theme.light;

    width: $alwan-max-width;
    max-width: $alwan-max-width;
    background: var(--bg);
    border: 1px solid var(--outer-bc);
    overflow: hidden;

    & * {
        box-sizing: border-box;
    }

    & > div {
        width: $alwan-max-width;
    }

    &__popover-container {
        // Make it the containing block for the popover.
        transform: translate(0);
        width: 0;
        height: 0;

        > .alwan {
            position: fixed;
            height: auto;
            top: 0;
            left: 0;
            z-index: $alwan-popup-z-index;
            border: 0;
            overflow: auto;
            box-shadow:
                0px 5px 5px -3px rgba(0, 0, 0, 0.2),
                0px 8px 10px 1px rgba(0, 0, 0, 0.14),
                0px 3px 14px 2px rgba(0, 0, 0, 0.12);
        }
    }

    &:not(.alwan--open) {
        visibility: hidden;
        overflow: hidden;
        height: 0;
    }

    &.alwan--dark {
        @include theme.dark;
    }

    &__container {
        position: relative;
        display: flex;
        align-items: center;
        padding: $container-padding-y $container-padding-x;
        border-top: 1px solid var(--bc);

        > * {
            width: 100%;
        }
    }

    &__selector {
        overflow: hidden;
        height: $selector-height;
        outline: 0;
        touch-action: none;
        user-select: none;
        background:
            linear-gradient(to bottom, transparent, #000),
            linear-gradient(to right, #fff, hsl(var(--h, 0), 100%, 50%));

        &:focus .alwan__cursor {
            box-shadow: 0 0 1px 2px $alwan-focus-color;
        }

        &[tabindex] {
            cursor: crosshair;

            &:active,
            &:active > .alwan__cursor {
                cursor: grabbing;
            }

            .alwan__cursor {
                cursor: grab;
                cursor: -webkit-grab;
            }
        }
    }

    &__cursor {
        position: relative;
        top: math.div($cursor-height, 2) * -1;
        left: math.div($cursor-width, 2) * -1;
        width: $cursor-width;
        height: $cursor-height;
        border-radius: 100%;
        background: transparent;
        border: $cursor-border;
        box-shadow: $box-shadow;
    }

    &__preview {
        --color: rgb(var(--rgb), var(--a));
        width: $preview-area-width;
        height: $preview-area-height;
        margin-right: $preview-area-margin-right;
        border: $preview-area-border-width solid var(--bc);
        border-radius: $preview-border-radius;
        flex-shrink: 0;

        & .alwan__cp {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            color: #fff;
            opacity: 0;
            border-radius: 0;
            margin: 0;

            &:focus,
            &:hover:not(:disabled) {
                opacity: 1;
                z-index: 100;
                background-color: rgba(0, 0, 0, 0.6);
            }

            &:focus-visible {
                border: 0;
            }
        }
    }

    &__slider {
        --hue-track: linear-gradient(
            90deg,
            #ff0000,
            #ff00ff,
            #0000ff,
            #00ffff,
            #00ff00,
            #ffff00,
            #ff0000
        );
        --alpha-track:
            linear-gradient(90deg, transparent, rgb(var(--rgb))),
            var(--alwan-pattern);
        display: block;
        width: 100%;
        height: $slider-track-height;
        background-color: transparent;
        margin: 0;
        padding: 0;
        cursor: pointer;
        outline: 0;
        -webkit-appearance: none;
        appearance: none;
        touch-action: none;
        user-select: none;

        &:active {
            cursor: grabbing;
            cursor: -webkit-grabbing;
        }

        // Track.
        // Track common styles.
        @mixin track() {
            width: 100%;
            height: $slider-track-height;
            border: 0;
            border-radius: $slider-track-border-radius;
        }

        &::-webkit-slider-runnable-track {
            -webkit-appearance: none;
            appearance: none;
            @include track();
        }

        &::-moz-range-track {
            @include track();
        }

        @include util.slider-track(":focus-visible") {
            outline: 2px solid color.change($alwan-focus-color, $alpha: 0.5);
            outline-offset: 2px;
        }

        // Thumb.
        @mixin thumb() {
            height: $slider-thumb-height;
            width: $slider-thumb-width;
            border: 1px solid $slider-thumb-border-color;
            border-radius: 100%;
            background-color: var(--thumb-bg);
            box-shadow: $box-shadow;
        }

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            margin-top: math.div(
                $slider-thumb-height - $slider-track-height,
                -2
            );
            @include thumb();
        }

        &::-moz-range-thumb {
            box-sizing: border-box;
            padding: 0;
            @include thumb();
        }

        @include util.slider-thumb(":not(:disabled)", ":hover") {
            cursor: grab;
            cursor: -webkit-grab;
            border-color: #555;
            background: var(--thumb-bg-hover);
        }

        @include util.slider-thumb(":active:not(:disabled)") {
            cursor: grabbing;
            cursor: -webkit-grabbing;
            outline: 5px solid color.change($alwan-focus-color, $alpha: 0.3);
        }

        @include util.slider-thumb(":focus") {
            border-color: $alwan-focus-color;
        }

        &:disabled {
            opacity: 0.5;
            cursor: default;
        }
    }

    &__hue {
        direction: rtl;

        @include util.slider-track() {
            background: var(--hue-track);
        }
    }

    &__alpha {
        margin-top: $alpha-slider-margin-top;

        @include util.slider-track() {
            background: var(--alpha-track);
        }
    }

    &__inputs {
        display: flex;

        > label {
            width: 100%;
            text-align: center;
            margin-right: $label-margin-right;
            text-transform: uppercase;
            color: var(--label-color);
            cursor: pointer;
            line-height: 1;
            font-family: $label-font-family;
            font-size: $label-font-size;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }
    }

    &__input {
        display: block;
        width: 100%;
        padding: $input-padding-y $input-padding-x;
        text-align: center;
        color: var(--fg);
        font-size: $input-font-size;
        font-family: $input-font-family;
        border: 1px solid var(--bc);
        margin-bottom: $input-margin-bottom;
        background-color: var(--input-bg);
        line-height: $input-line-height;
        border-radius: $input-border-radius;
        transition:
            border-color 0.2s,
            background-color 0.2s;

        &::selection {
            color: #fff;
            background-color: $alwan-focus-color;
        }

        &:focus {
            outline: 0;
            border-color: $alwan-focus-color;
            background-color: var(--bg);

            + span {
                color: $alwan-focus-color;
            }
        }

        &:hover:not(:focus, :disabled) {
            background-color: var(--input-bg-hover);
            border-color: var(--input-bc-hover);
        }

        &:disabled,
        &:disabled + span {
            opacity: 0.5;
        }
    }

    &__swatches {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background-color: var(--swatches-bg);
        padding: $swatches-container-padding;
        max-height: $swatches-container-max-height;
        overflow-y: auto;
        border-top: 1px solid var(--bc);
    }

    &__button {
        display: inline-block;
        width: auto;
        background: transparent;
        color: var(--fg);
        border: 1px solid transparent;
        cursor: pointer;
        padding: $button-padding-y $button-padding-x;
        transition: background-color 0.2s ease-in-out;
        outline: 0;

        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }

        &:hover:not(:disabled) {
            background-color: var(--btn-bg-hover);
        }

        &:focus-visible:not(.alwan__ref) {
            border-color: $alwan-focus-color;
        }

        svg {
            fill: currentColor;
            pointer-events: none;
            vertical-align: middle;
        }
    }

    &__swatch {
        width: $swatch-button-width;
        height: $swatch-button-height;
        margin: $swatch-button-margin;
        border-radius: $swatch-button-border-radius;

        &:hover:not(:disabled) {
            transform: scale(1.1);
        }

        &:focus {
            outline: 1px solid var(--color);
            outline-offset: 1px;
        }
    }

    &__ref {
        width: $preset-button-width;
        height: $preset-button-height;
        border-radius: $preset-button-border-radius;
        border: $preset-button-border;
        outline: $preset-button-outline;
        flex-shrink: 0;

        &:focus,
        &:focus-visible {
            outline-color: $alwan-focus-color;
            box-shadow: 0 0 2px 2px $alwan-focus-color;
        }
    }

    &__cp {
        margin-right: $preview-area-margin-right;
    }

    &__swatch,
    &__preview,
    &__ref {
        position: relative;
        background: var(--alwan-pattern);
        background-clip: padding-box;
        overflow: hidden;
        padding: 0;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: var(--color);
        }
    }

    &__toggle-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0;
        height: $swatches-toggle-button-height;
        border-top: 1px solid var(--bc);
        overflow: hidden;
    }

    &--collapse {
        &.alwan__swatches {
            display: none;
        }

        & + .alwan__toggle-button svg {
            transform: rotate(180deg);
        }
    }
}
