@use 'sass:math';
@use 'sass:color';
@use 'variables' as *;
@use 'properties' as prop;
@use 'theme/light';
@use 'theme/dark';
@use 'util';

:root {
    #{prop.$transparency-pattern}: #{$transparency-pattern-svg};
}

.alwan {
    --color: rgba(var(--rgb), var(--a));
    width: 100%;
    max-width: $alwan-max-width;
    background: var(prop.$alwan-background, light.$alwan-background);
    border: 1px solid var(prop.$alwan-outer-border-color, light.$alwan-outer-border-color);
    overflow-y: auto;

    & * {
        box-sizing: border-box;
    }

    &:not(.alwan--open) {
        visibility: hidden;
    }

    &:not(.alwan--popup, .alwan--open) {
        overflow: hidden;
        height: 0;
        border: 0;
    }

    &[data-theme="dark"] {
        #{prop.$alwan-background}: dark.$alwan-background;
        #{prop.$alwan-foreground}: dark.$alwan-foreground;
        #{prop.$alwan-outer-border-color}: dark.$alwan-outer-border-color;
        #{prop.$button-hover-background}: dark.$button-hover-background;
        #{prop.$alwan-border-color}: dark.$alwan-border-color;
        #{prop.$slider-thumb-background}: dark.$slider-thumb-background;
        #{prop.$slider-thumb-hover-background}: dark.$slider-thumb-hover-background;
        #{prop.$slider-thumb-hover-border-color}: dark.$slider-thumb-hover-border-color;
        #{prop.$label-color}: dark.$label-color;
        #{prop.$input-background}: dark.$input-background;
        #{prop.$input-hover-background}: dark.$input-hover-background;
        #{prop.$input-hover-border-color}: dark.$input-hover-border-color;
        #{prop.$swatches-container-background}: dark.$swatches-container-background;
    }

    &--popup {
        position: fixed;
        top: 0;
        left: 0;
        z-index: $alwan-popup-z-index;
        border: 0;
        box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
            0px 8px 10px 1px rgba(0, 0, 0, 0.14),
            0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    }

    &__container {
        position: relative;
        display: flex;
        align-items: center;
        padding: $container-padding-y $container-padding-x;
        border-top: 1px solid var(prop.$alwan-border-color, light.$alwan-border-color);

        >* {
            width: 100%;
        }
    }

    &__palette {
        overflow: hidden;
        height: $palette-height;
        outline: 0;
        touch-action: none;
        user-select: none;
        cursor: crosshair;
        background: linear-gradient(to bottom, transparent, #000),
            linear-gradient(to right, #fff, hsl(var(--h, 0), 100%, 50%));

        &:focus .alwan__marker {
            box-shadow: 0 0 1px 2px $alwan-focus-color;
        }
    }

    &__marker {
        position: relative;
        top: math.div($marker-height, 2) * -1;
        left: math.div($marker-width, 2) * -1;
        width: $marker-width;
        height: $marker-height;
        border-radius: 100%;
        background: transparent;
        border: $marker-border;
        box-shadow: $box-shadow;
        cursor: grab;
    }

    &__preview {
        width: $preview-area-width;
        height: $preview-area-height;
        margin-right: $preview-area-margin-right;
        border: $preview-area-border-width solid var(prop.$alwan-border-color, light.$alwan-border-color);
        border-radius: $preview-border-radius;
        flex-shrink: 0;

        & .alwan__copy-button {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            color: #fff;
            opacity: 0;
            border-radius: 0;
            margin: 0;

            &:focus,
            &:hover {
                opacity: 1;
                z-index: 100;
                background-color: rgba(0, 0, 0, 0.6);
            }

            &:focus-visible {
                border: 0;
            }
        }
    }

    &__slider {
        --hue-track: linear-gradient(90deg, #ff0000, #ff00ff, #0000ff, #00ffff, #00ff00, #ffff00, #ff0000);
        --alpha-track: linear-gradient(90deg, transparent, rgb(var(--rgb))), var(--alwan-pattern);
        display: block;
        width: 100%;
        height: $slider-track-height;
        background-color: transparent;
        margin: 0;
        padding: 0;
        cursor: pointer;
        outline: 0;
        -webkit-appearance: none;
        appearance: none;

        &:active {
            cursor: grabbing;
        }

        // Track.
        // Track common styles.
        @mixin track() {
            width: 100%;
            height: $slider-track-height;
            border: 0;
            border-radius: $slider-track-border-radius;
        }

        &::-webkit-slider-runnable-track {
            -webkit-appearance: none;
            appearance: none;
            @include track();
        }

        &::-moz-range-track {
            @include track();
        }

        @include util.slider-track(':focus-visible') {
            outline: 2px solid color.change($alwan-focus-color, $alpha: 0.5);
            outline-offset: 2px;
        }

        // Thumb.
        @mixin thumb() {
            height: $slider-thumb-height;
            width: $slider-thumb-width;
            border: 1px solid $slider-thumb-border-color;
            border-radius: 100%;
            background-color: var(prop.$slider-thumb-background, light.$slider-thumb-background);
            box-shadow: $box-shadow;
            cursor: grab;

            &:hover {
                border-color: var(prop.$slider-thumb-hover-border-color, light.$slider-thumb-hover-border-color);
                background: var(prop.$slider-thumb-hover-background, light.$slider-thumb-hover-background);
            }
        }

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            margin-top: math.div($slider-thumb-height - $slider-track-height, -2);
            @include thumb();
        }

        &::-moz-range-thumb {
            box-sizing: border-box;
            padding: 0;
            @include thumb();
        }

        @include util.slider-thumb(':active') {
            cursor: grabbing;
            outline: 5px solid color.change($alwan-focus-color, $alpha: 0.3);
        }

        @include util.slider-thumb(':focus') {
            border-color: $alwan-focus-color;
        }
    }

    &__hue {
        direction: rtl;

        @include util.slider-track() {
            background: var(--hue-track);
        }
    }

    &__alpha {
        margin-top: $alpha-slider-margin-top;

        @include util.slider-track() {
            background: var(--alpha-track);
        }
    }

    &__inputs {
        display: flex;

        label {
            width: 100%;
            text-align: center;
            margin-right: $label-margin-right;
            text-transform: uppercase;
            color: var(prop.$label-color, light.$label-color);
            cursor: pointer;
            line-height: 1;
            font-family: $label-font-family;
            font-size: $label-font-size;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }
    }

    &__input {
        display: block;
        width: 100%;
        padding: $input-padding-y $input-padding-x;
        text-align: center;
        color: var(prop.$alwan-foreground, light.$input-color);
        font-size: $input-font-size;
        font-family: $input-font-family;
        border: 1px solid var(prop.$alwan-border-color, light.$alwan-border-color);
        margin-bottom: $input-margin-bottom;
        background-color: var(prop.$input-background, light.$input-background);
        line-height: $input-line-height;
        border-radius: $input-border-radius;
        transition: border-color 0.2s, background-color 0.2s;

        &::selection {
            color: #fff;
            background-color: $alwan-focus-color;
        }

        &:focus {
            outline: 0;
            border-color: $alwan-focus-color;
            background-color: var(prop.$alwan-background, light.$alwan-background);

            +span {
                color: $alwan-focus-color;
            }
        }

        &:hover:not(:focus) {
            background-color: var(prop.$input-hover-background, light.$input-hover-background);
            border-color: var(prop.$input-hover-border-color, light.$input-hover-border-color);
        }
    }

    &__swatches {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background-color: var(prop.$swatches-container-background, light.$swatches-container-background);
        padding: $swatches-container-padding;
        max-height: $swatches-container-max-height;
        overflow-y: auto;
        border-top: 1px solid var(prop.$alwan-border-color, light.$alwan-border-color);
    }

    &__button {
        display: inline-block;
        width: auto;
        background: transparent;
        color: var(prop.$alwan-foreground, light.$alwan-foreground);
        border: 1px solid transparent;
        cursor: pointer;
        padding: $button-padding-y $button-padding-x;
        transition: background-color 0.2s ease-in-out;
        outline: 0;

        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }

        &:hover {
            background-color: var(prop.$button-hover-background, light.$button-hover-background);
        }

        &:focus-visible:not(.alwan__reference) {
            border-color: $alwan-focus-color;
        }

        svg {
            fill: currentColor;
            pointer-events: none;
            vertical-align: middle;
        }
    }

    &__swatch {
        width: $swatch-button-width;
        height: $swatch-button-height;
        margin: $swatch-button-margin;
        border-radius: $swatch-button-border-radius;

        &:hover {
            transform: scale(1.1);
        }

        &:focus {
            outline: 1px solid var(--color);
            outline-offset: 1px;
        }
    }

    &__reference {
        width: $preset-button-width;
        height: $preset-button-height;
        border-radius: $preset-button-border-radius;
        border: $preset-button-border;
        outline: $preset-button-outline;
        cursor: pointer;

        &:focus,
        &:focus-visible {
            outline-color: $alwan-focus-color;
            box-shadow: 0 0 2px 2px $alwan-focus-color;
        }
    }

    &__copy-button {
        margin-right: $preview-area-margin-right;
    }

    &__backdrop {
        position: relative;

        &::before {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 9999999999;
            cursor: grabbing;
        }
    }

    &__swatch,
    &__preview,
    &__reference {
        position: relative;
        background: var(--alwan-pattern);
        background-clip: padding-box;
        overflow: hidden;
        padding: 0;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: var(--color);
        }
    }

    &__toggle-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0;
        height: $swatches-toggle-button-height;
        border-top: 1px solid var(prop.$alwan-border-color, light.$alwan-border-color);
        overflow: hidden;
    }

    &--collapse {
        &.alwan__swatches {
            display: none;
        }

        &+.alwan__toggle-button svg {
            transform: rotate(180deg);
        }
    }
}