$alwan-background: #111;
$alwan-foreground: #ccc;
$alwan-outer-border-color: #aaa;

// Border.
$alwan-border-color: #34373a;

// Button.
$button-hover-background: #444;

// Thumb.
$slider-thumb-background: #151515;
$slider-thumb-hover-background: #242424;
$slider-thumb-hover-border-color: #555;

// Label.
$label-color: #d8d8d8;

// Input.
$input-color: $alwan-foreground;
$input-background: #181818;
$input-hover-background: #272727;
$input-hover-border-color: #484b4d;

// Swatches.
$swatches-container-background: #151515;