$alwan-background: #fff;
$alwan-foreground: #333;
$alwan-outer-border-color: #ccc;

// Border.
$alwan-border-color: #ccc;

// Button.
$button-hover-background: #f0f0f0;

// Thumb.
$slider-thumb-background: #fff;
$slider-thumb-hover-background: #f0f0f0;
$slider-thumb-hover-border-color: #555;

// Label.
$label-color: #555;

// Input.
$input-color: $alwan-foreground;
$input-background: #fafafa;
$input-hover-background: #f0f0f0;
$input-hover-border-color: #a8a8a8;

// Swatches.
$swatches-container-background: #f5f5f5;