* {
    box-sizing: border-box;
}

:root {
    --border-color: #111;
    --accent-color-rgb: 12, 115, 211;
    --accent-color: rgb(var(--accent-color-rgb));
    --control-border-color: #999;
    --sidebar-width: 320px;
}

body {
    margin: 0;
    background: #fff;
    font-family: "JetBrains Mono", monospace;
    line-height: 1.2;
    font-size: 1rem;
    height: 100vh;
    background-image: url("paper.png");
    color: #222;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: 1rem;
    color: #111;
    font-weight: 300;
    margin-left: 0.5rem;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    flex: 1;
}

pre {
    color: var(--accent-color);
}

p {
    display: inline-block;
    font-size: 1.1rem;
    color: #222;
    margin-bottom: 1.5rem;
}

select {
    font-family: inherit;
}

header {
    text-align: center;
    padding: 1rem;
    border-bottom: 1px dashed var(--border-color);
}

header > pre {
    user-select: none;
    font-size: 0.75rem;
}

header > p {
    text-align: center;
    max-width: 100ch;
    line-height: 1.4;
}

/* header .button div { */
/*     margin-left: 0.5rem; */
/* } */

.header-btns {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

svg {
    display: inline-block;
    fill: currentColor;
    vertical-align: middle;
}

button,
label {
    cursor: pointer;
}

/* .logo { */
/*     display: flex; */
/*     justify-content: center; */
/* } */

.button {
    display: inline-block;
    background-color: transparent;
    border: 0;
    border-radius: 0.25rem;
    vertical-align: middle;
    user-select: none;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    transition: background-color 0.2s;
}
/* #bg, */
/* #fg { */
/*     display: block; */
/*     margin: 2rem auto; */
/* } */
.github-button,
.menu-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.menu-button {
    border: 2px dashed var(--accent-color);
    color: var(--accent-color);
}

.github-button {
    border: 2px dashed #24292f;
    color: #24292f;
    text-decoration: none;
}
.menu-button:hover {
    background-color: rgb(var(--accent-color-rgb), 0.1);
}
.github-button:hover {
    background-color: #1215181a;
}

.main-content {
    margin: 0;
    height: 100%;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background:
        linear-gradient(to bottom, rgb(var(--accent-color-rgb), 0.15), #f9f9f9),
        #fff;
    overflow-y: auto;
    width: var(--sidebar-width);
    min-height: 100vh;
    height: 100%;
    transition: transform 0.15s ease-in;
    transform: translateX(-100%);
    box-shadow:
        0px 2px 4px -1px rgba(0, 0, 0, 0.2),
        0px 4px 5px 0px rgba(0, 0, 0, 0.14),
        0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.sidebar > h3 {
    margin-left: 1rem;
}
.sidebar.open {
    transform: translate(0);
}

.sidebar .header {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #ccc;
    padding: 0.5rem 1rem;
}

.header .button {
    padding: 0.5rem;
    border-radius: 9999em;
    color: #333;
}

.header .button:hover {
    background-color: #ddd;
}

.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    transition: background-color 0.15s ease-in-out;
}

.option:hover {
    background-color: rgb(var(--accent-color-rgb), 0.1);
}

.option .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 16px;
}

.option .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.option .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 9999em;
    background-color: #666;
}

.option .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: -2px;
    border: 2px solid #555;
    border-radius: 50%;
    background-color: white;
    top: -3px;
    transition: transform 0.3s;
}

.option input:checked + .slider {
    background-color: var(--accent-color);
}

.option input:checked + .slider::before {
    border-color: var(--accent-color);
}

.option input:focus + .slider {
    outline-offset: 5px;
    outline: 2px solid rgba(17, 17, 17, 0.25);
}

.option input:checked + .slider:before {
    transform: translateX(20px);
}

.option .textarea::placeholder {
    color: #555;
}

.option textarea,
.option input[type="text"],
.option input[type="number"] {
    background-color: #f5f5f5;
    border: 1px solid var(--control-border-color);
    padding: 0.4rem 0.5rem;
    outline: 0;
    font-size: 0.9rem;
    color: #222;
    max-width: 13em;
    border-radius: 0.25rem;
    font-family: inherit;
    margin-left: 0.5rem;
    transition: 0.2s;
}
.option input[type="number"] {
    width: 5em;
    text-align: center;
}
.option input[type="text"]:not([name="color"]) {
    max-width: 8em;
}

.option select:hover,
.option textarea:hover,
.option input[type="text"]:hover,
.option input[type="number"]:hover {
    border-color: #a7a7a7;
}

.option select:focus,
.option textarea:focus,
.option input[type="text"]:focus,
.option input[type="number"]:focus {
    outline: 0;
    background-color: #fff;
    border-color: var(--accent-color);
    box-shadow: 0 0 4px rgba(12, 115, 211, 0.5);
}

.option select {
    border: 1px solid var(--control-border-color);
    background-color: #f5f5f5;
    color: #222;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    cursor: pointer;
}
.option select:focus {
    border-color: #0c73d3;
}

/**
 *   Preview.
 */
.preview {
    /* display: flex; */
    /* flex-direction: column; */
    width: 100%;
    text-align: center;
}

.containers {
    display: flex;
    justify-content: space-around;
    align-items: start;
    padding: 2rem;
}

.containers > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    min-height: 40px;
    border: 1px dashed var(--border-color);
}

.picker-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 2rem 0;
}

.picker-ref {
    width: 40px;
    height: 40px;
    background-color: var(--color);
    border-radius: 0.25rem;
}

@media (min-width: 920px) {
    header,
    .main-content {
        margin-left: var(--sidebar-width);
    }

    .main-content {
        display: flex;
    }

    .sidebar {
        transform: translate(0);
        border-right: 1px dashed var(--border-color);
        box-shadow: none;
    }

    .menu-button,
    .sidebar .header {
        display: none;
    }

    header {
        flex-direction: column;
        padding-bottom: 2rem;
    }

    .preview-area {
        max-width: 500px;
    }

    .color-pickers {
        flex-wrap: nowrap;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
